body{
    margin: 0;
    width: 1600px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #FFFFFF;
}
h1{
    font-style: normal;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 63px;
    line-height: 75px;
    margin: 0;
}
h3{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;    
    color: #373737;
}
p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

#s1{
    text-align: center;
    height: 744px;
    width: 100%;
    background:url(assets/bg-image-wrapper.png);
    
}
#s1>header{
    height: 57px; 
    padding-top: 38px;
    margin-bottom: 135px; 
}

#nav1{
    display: flex;    
    margin: 0px 516px 0px 502px
}
nav>.item{
    height: 20px;
    display:flexbox;    
    opacity: 0.8;
}
nav>.item-active{
    opacity: 1;
    border-bottom: 1px solid;
}
nav>.item:hover{
    cursor: pointer;
    opacity: 1;
    
}

.item-space1{
    width: 85px;
}
.item-space2{
    width: 101px;
}
.item-logo{
    margin-top: -13px;
}
.item-space3{
    width: 101px;
}
.item-space4{
    width: 83px;
}
.h1-container{
    margin-left: 4px;
}
.p-container{
    padding-top: 4px;
    margin-bottom: 29px;
}
.gs-button{
    font-weight: 450;
    padding-left: 5px;
    background-color:#00AFDB ;
    width: 154px;
    height: 16px;
    padding: 13.5px 15px 16.5px 15px;
    margin: 0 auto;
}
.gs-button:hover{
    background-color:white ;
    color:#00AFDB ;
    cursor: pointer;
}
.gs-container{
    margin-left: -2px;
    margin-bottom: 183px;
}
.soc{
    display: flex;
    justify-content: center;
}
.soc>.img{
    border-radius: 50px;
    padding: 0 15px;
}
.soc>.img>img:hover{
    cursor: pointer;
    background-color: #00AFDB;
    border-radius: 50px;
}
.content2{
    text-align: start;
    grid-area: text2;
}
.img-wrap2{
    grid-area: img2;
}
#s2{
    padding: 120px 270px 140px 268px;
    height: 582px;
    display: grid;
    grid-template-areas: 
        "noth1 noth img2"
        "text2 noth img2"
        "noth2 noth img2";
    grid-template-rows:175px 233px 174px;
    grid-template-columns: 407px 248px 408px;
    
    
}
.p2{
    padding-top: 7px;
    text-align: start;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;

}
.b2{
    margin: 0;
    margin-top: 30px;
    text-align: center;
}
.b2:hover{
    border: 1px solid #00AFDB;
    padding: 12.5px 14px 15.5px 14px;
}
#s3{
    background: #F5F6F7;
    height: 287px;
    padding: 77px 0 140px 268px;
    display: grid;
    grid-template-areas: 
        "n n n nav3 n2"
        "n3 n3 n3 n3 n3 "
        "c3 n4 slider3 slider3 slider3";
    grid-template-rows:25px 18px 244px;
    grid-template-columns: 298px 139px 545px 83px 267px;
}
.slider3{
    overflow: hidden;
    display: flex;
    grid-area: slider3;
}
.slider3>img{
    margin-left: 1px;
    margin-right: 29px;
}
.slider3:last-child{
    margin-right: 0px;
}

.nav3{
    padding-top: 1px;
    grid-area: nav3;
    font-family: Roboto;
    display: flex;
    font-size: 18px;
    line-height: 25px;
    justify-content: space-between;
    color: #373737;
}
.nav3-info{
    height: 24px;
    display: block;
    letter-spacing: 4.5px;
    margin-left: 5px;

}
.nav3-info>span{
    margin-top: -1px;
    display: block;
}
#l3:hover,#r3:hover{ 
    cursor: pointer;
    background-color:  #00AFDB;
    border-radius: 100%;
}
.content3{
    text-align: center;
    grid-area: c3;
    padding-top: 35px;
    padding-left: 3px;
}
.content3>h4{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    margin: 14.5px 0 14.5px 2px;
}
.content3>p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    margin: -4px 0 0 -1px;
}
#s4{
    padding: 120px 378px 140px 269px;
    height: 582px;
    display: grid;
    grid-template-columns: 407px 139px 407px;
    grid-template-rows: 199px 184px 199px;
    grid-template-areas:
        "img4 n n1"
        "img4 n c4"
        "img4 n n2";;
}
.content4{
    grid-area: c4;
}
.content4>h3{
    margin-top: -0.5px;
    margin-bottom: 21px;
}
.content4>p{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    margin-bottom: 29.5px; 
}
.content4>.button4{
    width: 150px;
    text-align: center;
    font-weight: 450;
    padding-left: 5px;
    background-color:#00AFDB ;
    height: 16px;
    padding: 13.5px 15px 16.5px 15px;
    margin: 0;
    margin-left: 0;
}

.content4>.button4:hover{
    color:  #00AFDB;
    background-color: white;
    border: 1px solid #00AFDB;
    padding: 12.5px 14px 15.5px 14px;
    cursor: pointer;
}
#s5{
    background-image: url(assets/image-bg5.png);
    padding: 217px 597px 277px 597px;
    height: 104px;
    display: grid;
    grid-template-rows: 28px 30px 46px;
    grid-template-areas: 
        "h5"
        "n"
        "f5";
}
.h5>h3{
    grid-area: h5;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.f5{
    overflow: hidden;
    display: flex;
    grid-area: f5;
    background-color: white;
}
.f5>#email{    
    font-size: 14px;
    line-height: 20px;
    color: #373737;
    padding: 0;
    letter-spacing: -0.3px;
    padding-top: 1px;
    padding-left: 24px;
    border: none;
    height: 100%;
    width: 316px;
}
#email:focus{
    outline: none;
    border: none;
    background-color: white;
}
#email::placeholder{
    color: #373737;
}

.f5>.b5{
    background-color: #00AFDB;
    width: 66px;    
}
.f5:valid>.b5{
    background: rgb(147, 255, 133);
}
.f5>.b5:hover{
    cursor: pointer;
}
.f5>.b5>img{
    margin: 16px 0 0 25px ;
}
#s6{
    padding: 120px 558px 180px 559px;
    height: 168px;
    display: grid;
    grid-template-areas: 
        "c6"
        "b6";
    grid-template-rows:118px 50px;
}
.content6{
    grid-area: c6;
    text-align: center;
}
.content6>p{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
}
.buttons6{
    /* background: teal; */
    grid-area: b6;
    display: grid;
    grid-template-columns: 38px 188px 30px 188px 38px;
    grid-template-rows: 100%;
    grid-template-areas: "n1 bi6 n2 ba6 n3";
}
.bi6{
    grid-area: bi6;
}
.ba6{
    grid-area: ba6;
}
.ba6,.bi6{
    display: grid;
    grid-template-columns: 128px 60px;
    grid-template-areas: "tb6 ib6";
}

.buttons6>*>.tb6{
    padding-top: 18px;
    padding-left: 1px; 
    grid-area: tb6;   
    background:#00AFDB;   
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.ba6>.tb6{
    padding-left: 0;
}
.buttons6>*>.ib6{ 
    grid-area: ib6;   
    background:#009CC2;
}
.bi6>.ib6{
    padding-top: 15px;
    padding-left: 22px;
}
.ba6>.ib6{
    padding-top: 13px;
    padding-left: 20px;
}
.buttons6>*:hover>.tb6{
    background:#0088aa;
    cursor: pointer;
}
.buttons6>*:hover>.ib6{
    background:#006a85;
    cursor: pointer;
}
footer{
    background-color: black;
    padding: 73px 159px 91px 160px;
    display: grid;
    grid-template-columns: 236px 382px 44px 448px 171px;
    grid-template-areas: "nav7 n i7 n2 c7";
}

nav{
    grid-area: nav7;
    display: flex;
    justify-content: space-between;
}
footer>nav>div + div:before{
    color: gray;
    font-size: 9px;
    line-height: 1px;
    padding-left: 19.5px;
    padding-right: 19px;
    content: "|";
    text-align: center;
}
footer>nav>div:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer>.copyr{
    grid-area: c7;
    color: #818181;    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
footer>.wr{
    grid-area: i7;
}
footer>.wr>img{
    margin-top: -13px;
}