body{
    position: relative;
    margin: 0;
    width: 1600px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #FFFFFF;
}
#s1{
    height: 744px;
    width: 100%;
    position: absolute;
    background:url(assets/bg-image-wrapper.png);
    
}

#nav1{
    display: flex;
    
    margin: 38px 516px 0px 502px
}
nav>.item{
    height: 20px;
    display:flexbox;    
    opacity: 0.8;
}
nav>.item-active{
    opacity: 1;

    border-bottom: 1px solid;
}
nav>.item:hover{
    cursor: pointer;
    opacity: 1;
    
}

.item-space1{
    width: 85px;
}
.item-space2{
    width: 101px;
}
.item-logo{
    margin-top: -13px;
}
.item-space3{
    width: 101px;
}
.item-space4{
    width: 83px;
}
#s2{
    position: absolute;
    top: 744px;
    background-color: teal;
    height: 842px;
    width: 100%;
}